.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 543px;
  height: 288px;
  border-radius: 16px;
  padding: 48px 96px;
  background-color: var(--white);
}

.loader {
  display: inline-block;
  width: 72px;
  height: 72px;
  border: 6px solid #dee2e6;
  border-top-color: var(--light-blue);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
  margin-bottom: 32px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loadingText {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--main);
  margin-bottom: 16px;
}

.description {
  width: 100%;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: var(--main);
}