.section {
  padding: 84px 0 104px;
}

.container {
  max-width: 1440px;
  padding-right: 120px;
  padding-left: 120px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 12px 51px;
  border-radius: 12px;
  border: 1px solid var(--light-blue);
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--main);
  transition: var(--transition-border-color);
  margin-top: 48px;
}

.button:hover {
  border: 1px solid var(--dark-blue);
}